
<!DOCTYPE html>
<html>

	<head>
		<title>
			Slack page
		</title>
		<meta charset='utf-8' />

		<link href='css/normalize.css' rel='stylesheet' />

		<link href='css/slack.css' rel='stylesheet' />

     <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	</head>

	<body>
        
        <div class="page">
          <section class="page-first">
            <div class="page-content hero-first">

                <div class="hero">
                  <div class="hero-class">
                    <span class="hero-label">Slack Features</span>
                    <h1 class="hero-title">One platform for your team and your work</h1>
                    <p class="hero-text">All the features of Slack work together so you can, too.</p>
                    <div class="hero_info">
                       <a href="#" class="button button_primary">Try for free</a>
                       <a href="#" class="button button_second">See all features</a>
                    </div>

                    <img src="/img/hero.png" alt="Hero" class="hero-picture">
                  </div>
                </div>

                <div class="brands">
                    <img src="/img/airbnb.png" alt="airbnb.png" class="brands-picture">
                    <img src="/img/intuit.png" alt="intuit.png" class="brands-picture">
                    <img src="/img/logo.png" alt="logo.png" class="brands-picture">
                    <img src="/img/logo-onemedical.png" alt="logo-onemedical.png" class="brands-picture">
                    <img src="/img/logo-sonos.png" alt="logo-sonos.png" class="brands-picture">
                    <img src="/img/target.png" alt="target.png" class="brands-picture">
                    <img src="/img/uber.png" alt="uber.png" class="brands-picture">
                    <img src="/img/us-department.png" alt="us-department.png" class="brands-picture">
                </div>

            </div>
          </section>

         <section class="page-first page-section-light">
            <img src="/img/feature.png" alt="Feature" class="features-image">
            <div class="page-content features-section hero-first">
               <h2 class="feature-title">Work more easily with everyone</h2>
               <p class="feature-description">Stay on the same page and make decisions faster by bringing all of your work communication into one place.</p>
             <div class="function-block">
               <div class="function-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/connect.svg');"></span>
                  <strong class="function-title">Slack Connect</strong>
                  <p class="function-description">Collaborate with teams at othercompanies the same way you dowith teams at your own.</p>
                  <a class=" icon icon-arrow feature-link"></a>
               </div>

               <div class="function-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/channels.svg');"></span>
                  <strong class="function-title">Channels</strong>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>

               <div class="function-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/huddles.svg');"></span>
                  <strong class="function-title">Huddles</strong>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>

               <div class="function-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/clips.svg');"></span>
                  <strong class="function-title">Clips</strong>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>

               <div class="function-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/canvas.svg');"></span>
                  <strong class="function-title">Canvas</strong>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>


               <div class="function-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/messaging.svg');"></span>
                  <strong class="function-title">Messaging</strong>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>


               <div class="function-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/Accessibility.svg');"></span>
                  <strong class="function-title">Accessibility</strong>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>
             </div>
            </div>
         <section>
      </div>
      <div class="cool">
         <div class="right">
             <img src="/img/picture.png" alt="Picture" class="margin">
             <div class="cool-main">
               <div class="position">What you need, when you need its</div>
               <div class="cool-description">Spend less time shuffling tabs with a comprehensive message archive andall your work tools at your fingertips.</div>
             </div>
             <div class="advanture-main">
               <div class="adventure">
                  <span class="left left-icon" style="background-image: url('/svg/frame.svg');"></span>
                  <div class="adventure-title">Apps and Integrations</div>
                  <div class="adventure-description">Streamline work by connectingSlack with other services like GoogleDrive, Office 365 andover 2,200 more.</div>
                  <span class="icon icon-arrow feature-link arrow"></span>
               </div>
               <div class="adventure-2">
                  <span class="left left-icon" style="background-image: url('/svg/frame2.svg');"></span>
                  <div class="adventure-title">Workflow Builder</div>
                  <div class="adventure-description">Automate routine actions and communication, so you can getback to the kind of work only humans can do.</div>
                  <span class="icon icon-arrow feature-link arrow"></span>
               </div>
               <div class="avenger-main">
                  <div class="avenger">
                     <span class="left left-icon" style="background-image: url('/svg/frame4.svg');"></span>
                     <div class="advent-title">File sharing</div>
                     <span class="icon icon-arrow feature-link arrow"></span>
                  </div>
                  <div class="avenger-cool">
                     <span class="left left-icon" style="background-image: url('/svg/frame3.svg');"></span>
                     <div class="advent-title">Search</div>
                     <span class="icon icon-arrow feature-link arrow"></span>
                  </div>
               </div>
             </div>
         </div>
      </div>
      <div class="avengers">
         <div class="avengers-section">
            <img src="/img/cool.png" alt="cool" class="png">
            <div class="png-section">
               <div class="png-text">“The thing that keeps us connected the most is Slack. It’s a veryimmediate and straightforward method of communication, andreally the only channel that peopleprefer and enjoy using.”</div>
               <img src="/img/delivero.png" alt="Delivero" class="delivero">
               <div class="developer">Will Sprunt, CIO, Deliveroo</div>
            </div>
         </div>
      </div>
      <div class="development">
         <div class="padding">
            <div class="picture-gap">
                <strong class="end-header">Explore more about working in Slack</strong>
                <div class="many-picture">
                  <div class="slack-picture">
                     <img src="/img/slack-picture.png" alt="Slack" class="one">
                     <div class="context">
                        <div class="slack-description">Slack Tutorials</div>
                        <div class="slack-title">Slack 101</div>
                     </div>
                     <div class="gap gap-one">Learn more</div>
                  </div>
                  <div class="slack-pisture-two">
                     <img src="/img/slack-picture-two.png" alt="Slack" class="one">
                     <div class="context">
                        <div class="slack-description">Slack vs. Email</div>
                        <div class="slack-title">An easier, more organized way to work</div>
                     </div>
                     <div class="gap gap-two">Learn more</div>
                  </div>
                  <div class="slack-pisture-tree">
                     <img src="/img/slack-picture-tree.png" alt="Slack" class="one">
                     <div class="context">
                        <div class="slack-description">Customer Stories</div>
                        <div class="slack-title">How Fastly uses Slack Connect to wow enterprise customers</div>
                     </div>
                     <div class="gap">Learn more</div>
                  </div>
                </div>
            </div>
         </div>
      </div>
