<section class="page-first page-section">
    <img src="/img/feature.png" alt="Feature" class="features-image">
    <div class="page-content hero-first function">
               <h2 class="function-title">Work more easily with everyone</h2>
               <p class="function-description">Stay on the same page and make decisions faster by bringing all of yourwork communication into one place.</p>

             <div class="features-block">
                <div class="feature-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/connect.svg');"></span>
                  <strong class="feature-title">Slack Connect</strong>
                  <p class="feature-desc">Collaborate with teams at othercompanies the same way you dowith teams at your own.</p>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>

               <div class="feature-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/channels.svg');"></span>
                  <strong class="feature-title">Channels</strong>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>

               <div class="feature-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/huddles.svg');"></span>
                  <strong class="feature-title">Huddles</strong>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>

               <div class="feature-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/clips.svg');"></span>
                  <strong class="feature-title">Clips</strong>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>

               <div class="feature-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/canvas.svg');"></span>
                  <strong class="feature-title">Canvas</strong>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>


               <div class="feature-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/messaging.svg');"></span>
                  <strong class="feature-title">Messaging</strong>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>


               <div class="feature-card">
                  <span class="icon feature-icon" style="background-image: url('/svg/Accessibility.svg');"></span>
                  <strong class="feature-title">Accessibility</strong>
                  <span class=" icon icon-arrow feature-link"></span>
               </div>
              </div>
            </div>
            <section class="cool cool-2">
               <div class="right">
                <img src="/img/picture.png" alt="Picture" class="margin">
                 <div class="cool-main">
                  <div class="position">What you need, when you need its</div>
                  <div class="cool-description">Spend less time shuffling tabs with a comprehensive message archive andall your work tools at your fingertips.</div>
                 </div>
                 <div class="advanture-main">
                  <div class="adventure"></div>
                 </div>
               </div>
            </section>
          </section>
        </div>
					
	</body>

</html>