.function {
    
}

.function {
    padding-top: 150px;
    padding-bottom: 150px;
    display: grid;
    gap: var(--spacing-5);
    font-weight: 700;
  }

  .page-section {
    background-color: var(--color-light);
  }

  .feature-card {
     padding: var(--spacing-3);
     background-color: var(--color-white);
     gap: var(--spacing-3);
     font-size: var(--size-2);
     line-height: var(--line-height);
     display: grid;
     grid-template-rows: min-content min-content 1fr min-content;
  }

  .function-title {
    font-size: var(--size-6);
  }

  .function-description {
    font-size: var(--size-2);
    max-width: 680px;
    width: 100%;
  }

  .feature-title {
    font-size: 20px;
  }

  .feature-link {
    justify-self: flex-end;
    transition: opacity var(--transition-1);
  }

  .feature-link:hover {
    opacity: var(--opacity-1);
    cursor: pointer;
   }

  .feature-link:active {
    opacity: var(--opacity-2);
   }

@layer component {
    .icon {
        display: block;
        background-position: center center;
    }
}

@layer variant {
    .feature-icon {
        width: 48px;
        height: 48px;
    }

    .icon-arrow {
        height: 14px;
        width: 24px;
        background-image: url('/svg/arrow-right.svg');
    }
}

.features-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--spacing-2);
}

.features-block > .feature-card:first-of-type {
    grid-row: 1 / 3;
}

.features-image {
    max-width: 400px;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 980px;
}

.cool {
    background: #F4EDE4;

}

.cool-description {
    color: #000;
    font-family: sans-serif;
    font-size: 18px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 300%;
    padding: 80px 120px 400px 500px;
    padding-top: 130px;
    padding-left: 680px;
}

.position {
    padding-right: 500px;
    padding-top: 130px;
    font-size: 32px;
    display: flex;
    padding: 80px 200px 136px 345px;
}

.cool-main {
    display: flex;
}

.right {
    display: block;
}

.adventure {
    width: 300px;
    height: 250px;
    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
    padding: 40px;
}

