{{#with data}}
     <div class="hero-3">
      <div class="form">
        <h3 class="form-1">{{heading}}</h3>
        <a href="{{url}}" class="active-button">{{text}}</a>
      </div>
     </div>
{{/with}}
