{{#with data}}
  <div class="post">
    <strong class="post-1">{{title}}</strong>
    <div class="post-2">{{date}} by <span class="post-3">{{author}}</span></div>
    <p class="post-4">{{description}}</p>
    <a href="">Continue reading</a>
  </div>
{{/with}}