
    <div class="link">
        <strong class="link-list">{{title}}</strong>
                        
        {{#each data}}
           <a href="{{url}}" class="link-title">{{text}}</a>
        {{/each}}
    </div>